{% extends 'template/admin/_post.twig' %}
{% block body %}
  <section class="content">
    <form action="{{ '/admin/mailer/submit' | base_url }}" method="post">
      {% if get_flash_message("notification_warning") %}
          <div class="alert alert-warning" role="alert">
              {{get_flash_message("notification_warning")}}
          </div>
      {% endif %}
      {% if get_flash_message("notification_success") %}
          <div class="alert alert-success" role="alert">
              {{get_flash_message("notification_success")}}
          </div>
      {% endif %}
      <div class="card-body">
        <h2>Email Configuration</h2>
        <p>Configure the driver, settings and addresses your forum will use to send email.</p>
        <!-- SMTP Server -->
        <div class="mb-3">
          <label for="smtpServer" class="form-label">SMTP Server</label>
          <input type="text" class="form-control" name="smtpServer" required placeholder="smtp.example.com" value="{{ details.host }}">
        </div>

        <!-- Port -->
        <div class="mb-3">
          <label for="port" class="form-label">Port</label>
          <input type="number" class="form-control" name="port" required placeholder="587" value="{{ details.port }}">
        </div>

        <!-- Username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required placeholder="email@example.com" value="{{ details.username }}">
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required placeholder="Password" value="{{ details.password }}">
        </div>

        <!-- Encryption -->
        <div class="mb-3">
          <label for="encryption" class="form-label">Encryption</label>
          <select class="form-select" name="encryption" required >
            <option value="ssl" {{ details.encryption == 'ssl' ? "selected" : "" }}>SSL</option>
            <option value="tls" {{ details.encryption == 'tls' ? "selected" : "" }}>TLS</option>
          </select>
        </div>

        <!-- Sender Email -->
        <div class="mb-3">
          <label for="senderEmail" class="form-label">Sender Email</label>
          <input type="email" class="form-control" name="senderEmail" required  placeholder="noreply@example.com" value="{{ details.address }}">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Save Configuration</button>
      </div>
    </form>
  
    {% if details.host != "" %}
      <!-- Send Test Mail Button -->
      <div class="card-body">
        <h4>Send Test Mail</h4>
        <p>This will send an email using the above configuration to your email {{ get_logged_email() }}.</p>
          <a href="{{ '/admin/mailer/test' | base_url }}" class="btn btn-success">Send Email</a>
      </div>
    {% endif %}
  </section>
{% endblock %}